@model iidentifii.Models.Posts.PostOverviewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

@{
    if (SignInManager.IsSignedIn(User))
    {
        <button class="btn btn-outline-primary mb-2" id="addPost">Add Post</button>
    }
}

@foreach (var post in Model.Posts)
{
    <div class="accordion accordion-flush" id="accordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-heading-@post.PostId">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-@post.PostId" aria-expanded="false" aria-controls="flush-collapse-@post.PostId">
                    @post.Title
                </button>
            </h2>
            <div id="flush-collapse-@post.PostId" class="accordion-collapse collapse" aria-labelledby="flush-heading-@post.PostId" data-bs-parent="#accordion">
                <div class="accordion-body">@post.Content</div>
                @if(post.Comments.Count > 0)
                {
                    <ul class="list-group w-75 float-end">
                        @foreach (var comment in post.Comments)
                        {
                            <li class="list-group-item">
                                @comment.Content
                                <span class="text-end">@comment.Likes Likes</span>
                            </li>
                        }
                    </ul>
                }
               
                @if (SignInManager.IsSignedIn(User))
                {
                    <button class="btn btn-outline-secondary" data-bind-post-id="@post.PostId" id="addComment">Add Comment</button>
                }
            </div>
        </div>
    </div>
}

<div class="modal fade" id="addNewCommentModal" aria-labelledby="addNewCommentModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Comment</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="comment">Comment</label>
                    <textarea class="form-control" id="comment" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancel">Cancel</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="save">Save</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $().ready(function () {
            $('#addPost').click(function () {
                window.location.href = '@Url.Action("Create", "Posts")';
            });
            $('#addComment').click(function (e) {
                e.preventDefault();
                var postId = $(this).data('bind-post-id');
                $('#addNewCommentModal').data('post-id', postId).modal('show');
            });
            $('#save').click(function () {
                var comment = $('#comment').val();
                var postId = $('#addNewCommentModal').data('post-id');
                $.ajax({
                    url: '@Url.Action("AddComment", "Posts")',
                    type: 'POST',
                    data: { comment: comment, postId: postId },
                    success: function (response) {
                        // Handle success response
                        console.log(response);
                    },
                    error: function (xhr, status, error) {
                        // Handle error response
                        console.error(error);
                    }
                });
            });
        });
    </script>
}
